@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.chat_section {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.brand {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 255, 0.729);
    color: #fff;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.logo-name {
    font-size: 1.5em;
    margin: 0;
}

.message_area {
    padding: 20px;
    height: 400px;
    overflow-y: auto;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 70%;
}

.incoming {
    align-self: flex-start;
    background-color: #e0e0e0;
}

.outgoing {
    align-self: flex-end;
    background-color: blue;
    color: white;
}

 textarea {
    width: 90%;
    left: 10%;
    padding: 10px;
    resize: none;
    border: none;
    border-radius: 20px;
    background-color: #fbfbfb;
    outline: none;
}
